
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Momo+Trust+Display&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar {
    position: fixed;
    background-color: white;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.navbar-brand {
    font-size: 2rem;
    color: black;
    font-family: "Merriweather", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.navbar-brand> span {
    color: crimson;
}

.navbar-brand:hover {
    opacity: 30%;
}

.nav-link {
    margin-right: 10px;
    margin-left: 10px;
    color: black;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

.nav-link:hover {
    color: black;
}

.search {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    height: 40px;
    width: 80%;
    margin-right: -35px;
    border-radius: 60px;
    outline: none;
    border: 2px crimson;
}

.btn0 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    height: 40px;
    width: 40%;
    outline: none;
    border: none;
    border-radius: 60px;
    background-color: crimson;
    color: white;
    font-weight: 700;
}

.main {
    background: url(img/bg\ gurl\ psg.avif);
    background-repeat: no-repeat;
    background-size: contain;
    height: 100vh;
    background-position: center;
    width: 100%;
}

.container1 {
    padding-top: 300px;
    padding-left: 175px;
}

.main h1 {
    font-size: 4rem;
    font-family: "Merriweather", sans-serif;
    font-weight: 700;
    text-shadow: 2px 2px 4px white;
}

.btn1 {
    height: 45px;
    width: 20%;
    border: none;
    outline: none;
    border-radius: 60px;
    background-color: crimson;
    font-family: "Merriweather", sans-serif;
    font-weight: 700;
    color: white;
    box-shadow: 2px 2px 5px black;
}
.btn1:hover {
    background-color: crimson;
    transition: 0.5s;
}

.gambar1 {
    width: 150px;
}

.cp-gambar1 {
    font-family: "Kanit", sans-serif;
    font-weight: 500;
}

.container2 h1 {
    font-family: "Kanit", sans-serif;
    font-weight: 700;
}

.container2 h6 {
    font-family: "Kanit", sans-serif;
    font-weight: 300;
}

.card:hover {
    box-shadow: 0px 0px 19px 4px rgba(0, 0, 0, 0.44);
    -webkit-box-shadow: 0px 0px 19px 4px rgba(0, 0, 0, 0.44);
    -moz-box-shadow: 0px 0px 19px 4px rgba(0, 0, 0, 0.44);
    transition: 0.5s;
}  

.apple {
    background: url(img/madrid\ price\ drops.avif);
    background-repeat: no-repeat;
    background-size:cover;
    height: 100vh;
    background-position: center;
    width: 100%;
}

.apple h1 {
    text-shadow: 2px 2px 2px 4px #000000ff;
}

.bg-image-vertical {
position: relative;
overflow: hidden;
background-repeat: no-repeat;
background-position: right center;
background-size: auto 100%;
}

@media (min-width: 1025px) {
.h-custom-2 {
height: 100%;
}
}